  video {
      width: 100%;
      text-align: center;
      margin: 0 auto;
/*      object-fit: cover;
      position: absolute;*/
      background-color: rgba(251,251,251,.9);
    }
    div{
      margin: 0 auto;
      text-align: center;
      position: fixed;
      top: 50px;
      width: 60%;
      position: relative;
    }
    body{
      background: #383838;
      width: 100%;
      height: 100%;
      color: white;
      font-family: 'Quicksand', sans-serif;
    }